@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


body {
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-image: url(img/bg.jpg);
}

h2 {
	font-size: 20px;
	color: aliceblue;
	margin: auto;
	text-align: center;
	width: 60%;
	padding: 20px 0;
}

/* INICIO CABEÇALHO */

.logo {
	width: 15%;
}

nav {
	padding: 20px;
	display: flex;
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav a:hover {
	color: #C78C19;
	text-decoration: none;
}

.cabecalho {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 1;
	position: relative;
	margin: 0 auto;
}

.cabecalho2 {
	text-transform: uppercase;
	color: antiquewhite;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

#slider {
	width: 100%;
    height: 30vw;
    max-height: 650px;
    position: relative;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1500ms;
}

#slider img.selected { 
    opacity: 1;
}

/* LIGHTBOX */

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
	background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
	display: block;
}

.lightbox span {
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* CURIOSIDADES INICIO*/

h1 {
	font-size: 26px;
	color: antiquewhite;
	padding: 50px 30px 50px 30px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	background-color: black;
	border-color: #FFFFFF;
}

.curiosidades img {
	display: block;
	width: 60%;
	margin: 0% auto;
	padding: 28px;
}

.curiosidades p {
	display: block;
	width: 60%;
	text-align: justify;
	color: whitesmoke;
	padding: 15px 15px;
	align-items: center;
	margin: auto;
	font-size: 16px;
	line-height: 25px;
}

/* CURIOSIDADES - CONTEUDO*/

hr{
	height:3px;
	border-width:0;
	background: transparent url(img/linha.png) center no-repeat;
	margin-top: 20px;

}

.curiosidades1 {
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px inset 100px #ffffff;
}

.curiosidades1 h2 {
	text-transform: uppercase;
	font-size: 22px;
	margin: 50px auto;
}

.curiosidades-imagem {
	width: 60%;
	border-radius: 10px;
	border: none;
	margin: 0 auto;
	display: block;
	}

.curiosidades-imagem:hover {
	border-color: #c78d1955;
	transition: all 0.9s;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.curiosidades1 p {
	display: block;
	width: 60%;
	text-align: justify;
	color: whitesmoke;
	padding: 15px 15px;
	align-items: center;
	margin: auto;
	font-size: 16px;
	line-height: 25px;
}

/* FOOTER*/

footer {
	text-align: center;
	background: black;
	padding: 20px;
	margin-top: 30px;
}

.logobranco {
	width: 10%;
	margin: 0 auto;
}

.copyright {
	width: 940px;
	color: #FFFFFF;
	font-size: 13px;
	margin: auto;
}

.btn_social {
	width: 940px;
	display: flex;
	margin: auto;
}

.btn_social ul {
	width: auto;
	margin: auto;
	display: flex;
}

.btn_social ul li {
	position: relative;
	background: #555555;
	list-style: none;
	margin: 5px;
	z-index: 1;
	overflow: hidden;
	border-radius: 3px;
	font-size: 1.5em;
	text-align: center;
}

.btn_social ul li a {
	width: 50px;
	height: 50px;
	line-height: 53px;
	display: block;
	text-decoration: none;
	color: #ffff;
	transition: .4s;
}

.btn_social ul li::before {
	transition: 0.4s;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 90%;
	left: 0;
	background: #C78C19;
	z-index: -1;
	transform: scale(1);
	transition: .4s;
}

.btn_social ul li:hover::before {
	transition: 0.4s;
	top: 0%;
}

.btn_social ul li a:hover {
	color: #555555;
}


@media screen and (min-width: 768px) and (max-width: 1080px) {

.cabecalho{
	width: 100%;
}

.curiosidades h1{
	font-size: 20px;
}

.curiosidades p{
	font-size: 26px;
}

.curiosidades1 p{
	font-size: 26px;
	line-height: 35px;
}

.curiosidades1 h2{
	font-size: 22px;
}

}